{% extends "base.html" %}

{% block extra_style %}
<style>
    .timer {
        font-size: 48px;
        font-weight: bold;
        margin: 20px;
    }
    .penalty_msg {
        font-size: 24px;
        margin: 20px 0;
        color: #2c3e50;
    }
    .warning {
        color: red;
        
    }
</style>
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box quiz-container">
        <h1 class="title is-size-2 has-text-dark">Timer Complete</h1>
        <p class="penalty_msg">Penality timer has elapsed</p>
        <a href="{{ url_for('main.quiz') }}" style="color: blue;">Return to the quiz</a>
    </div>
</div>
{% endblock %}